
<nav class= "main-nav">
  <ul>
      <li> <a href="mailto: long.derrick8@gmail.com"> email </a> </li>
      <li> <a href="https://github.com/derrick-long" target=_blank> github </a> </li>
      <li> <a  href="#", target=_blank>linkedin</a>  </li>
      <li> <a href="#", target=_blank> twitter</a> </li>
  </ul>
</nav>

 <!-- Top Content  -->

<section class= "top-container">
  <header class="image">
    <h1> My Website</h1>
    <p> Placeholder text Placeholder text Placeholder text Placeholder text Placeholder text
      Placeholder text Placeholder text Placeholder text Placeholder text </p>
  </header>
</section>
