<div class="nav">
      <a href="mailto: long.derrick8@gmail.com"> email </a>|
      <a href="https://github.com/derrick-long" target=_blank> github </a>|
      <a  href="#", target=_blank>linkedin</a>
|
      <a href="#", target=_blank> twitter</a>

</div>

<div class="main-content">

  <div class="site-header">

  <img src="images/street_cat.jpg">

  <h1> My homepage</h1>
  </div>

  <div class="text">
    <p> Super Good at Doing the Buisness
      hire me for buisness doings
    very good much buisness for profit overlords </p>
  </div>

  <div id="target">
    things
  </div>

</div>
