<div class="colspan 12">
  <div class="nav"> Here's some stuff and all
    <a href="mailto: long.derrick8@gmail.com"> email </a>|
    <a href="https://github.com/derrick-long"> github </a>
  </div>
</div>


<div class="colspan 12">
  <div class="main-content">
  <h1> My homepage</h1>

  <p> Super Good at Doing the Buisness </p>

  <p> hire me for buisness doings </p>
  </div>
</div>


<div class="picture">
  <img src="images/street_cat.jpg"> 
</div>
