<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Derrick Long</title>
    <link href="https://fonts.googleapis.com/css?family=Esteban" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
  </head>
  <body>
    <%= yield %>

  </body>
</html>
