<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Derrick Long</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Esteban" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
  </head>


  <body>
    <div class="wrapper">
    <%= yield %>
    </div> 
    <script src="/javascript/app.js"></script>
  </body>

</html>
