
body {
    margin: 0 auto;
    font-family: Esteban;
    background-color: #D3D3D3;
}



a {
  text-decoration: none;
  color: black;
}

.hover {
  color: white;
}






.wrapper {
  display: grid;
  grid-gap: 20px;
}

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}


.text {
  clear: both;
  text-align: center;
}

.nav {
    padding-left: 5%;
    background-color: #A9A9A9;
    grid-area: nav;
}
